@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    --base-font :  'Abel', monospace;
    --primary-color : #82A284;
    --secondary-color : #E4AEC5;
    --dark-green : #E4AEC5;
    --light-pink : #FFC4DD;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

